@use '../helpers' as *;
.button {
  border: none;
  border-radius: rem(5);
  font-size: rem(16);

  &--primary {
    display: flex;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-light);
    column-gap: rem(14);
    font-weight: 500;
  }

  &--sm {
    padding: rem(8) rem(16);
  }

  &--md {
    padding: rem(14.4) rem(42);
    font-weight: 400;
  }

  &--search {
    position: absolute;
    right: 0;
    top: 0;
    padding: rem(12);
    height: 100%;
    border-radius: 0;
  }

  &--light {
    background-color: var(--color-light);
    color: var(--color-secondary);
  }

  &--transparent {
    display: flex;
    align-items: center;
    background-color: transparent;
    column-gap: rem(10);
    font-weight: 500;
    font-size: rem(14);
    color: var(--color--dark);
  }

  &__icon {
    display: flex;
    flex-direction: column;
    row-gap: rem(4);
  }

  &__line {
    width: rem(13);
    background-color: #fff;
    height: 1px;
  }

  &__line:nth-child(3) {
    align-self: flex-end;
    width: 50%;
  }
}
