@use '../helpers' as *;

.contacts {
  color: var(--color-dark);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  transition: color 0.2s;

  @include hover {
    color: var(--hover-primary);
  }
}
