@use '../helpers' as *;

.cta {
  &__content {
    padding-block-start: rem(86);
    padding-block-end: rem(76);
    padding-inline-start: rem(130);
    max-width: rem(740);
  }

  &__inner {
    position: relative;
    display: flex;
    background-color: var(--color-light-cta);
    border-radius: 10px;
  }

  &__title {
    margin-block-end: rem(32);
  }

  &__text {
    font-weight: 500;
    font-size: rem(16);
    margin-block-end: rem(20);
  }

  &__input-box {
    column-gap: rem(20);
    margin-block-end: rem(20);
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: rem(180);
  }
}
