@use '../helpers' as *;

.training {
  &__wrapper {
    display: flex;
    justify-content: end;
    column-gap: rem(85);
    margin-block-end: rem(100);
  }

  &__wrapper--reverse {
    flex-direction: row-reverse;
    justify-content: start;
  }

  &__content {
    max-width: rem(645);
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  &__title {
    margin-block-end: rem(28);
  }

  &__subtitle {
    margin-block-end: rem(18);
    font-weight: 500;
    font-size: rem(20);
    line-height: 1.19;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(8);
    font-size: rem(18);
    list-style: none;
    font-weight: 400;
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: rem(10);
  }
  &__text-strong {
    font-weight: 500;
  }
}
