@use 'helpers' as *;

:root {
  --color-light: #fff;
  --color-dark: #282739;
  --color-secondary: #6f73ee;
  --color-gray: #5d6c7b;
  --color-green: #75d14a;
  --color-red: #ee685f;
  --color-light-gray: #eaebed;

  --font-family-base: 'Jost', sans-serif;
  --font-family-accent: 'Roboto', sans-serif;

  --container-width: #{rem(1110)};
  --container-width-lg: #{rem(1380)};
  --container-padding-x: #{rem(30)};
  --border: 1px solid #ecf3ff;


  --transition-duration: 0.2s;
}
